.footer {
	display: grid;
	padding: 27px 32px;
	grid-template-columns: 1fr auto auto;
	gap: 40px;

	background-color: var(--primary);

	color: var(--white);
	font-size: 16px;
	line-height: 16px;

}



.footer a {
	transition: all 0.3s
}

.footer a:hover {
	color: var(--gray-light);
}


@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
		gap: 10px;
		margin-top: 0;


	}

}